.slider {
  position: relative;
  padding: 3.6rem 0 2.8rem;
  height: 305px;
  &__title {
    font-size: 1.6rem;
  }
  &__text {
    font-size: 11.5px;
    line-height: 19px;
    font-weight: 600;
    color: rgb(175, 173, 173);
  }
  &__middle {
    position: absolute;
    right: 2rem;
    left: 2rem;
    transition: all 0.5s;
  }
  &__left {
    position: absolute;
    right: 2rem;
    left: 2rem;
    transform: translateX(-200%);
    transition: all 0.5s;
  }
  &__right {
    position: absolute;
    right: 2rem;
    left: 2rem;
    transform: translateX(200%);
    transition: all 0.5s;
  }
  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 2.8rem 0 1.6rem;
    width: 70%;
    & p {
      color: black;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    &__arrow {
      height: 1rem;
    }
  }
  &__arrows__container {
    position: absolute;
    right: 0;
    background-color: black;
    top: -3.5rem;
  }
  &__arrow {
    height: 1rem;
    width: 0.5rem;
    padding: 1.1rem 1.4rem;
  }
}
